body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 75px repeat(3, 1fr) 75px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  