body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 75px repeat(3, 1fr) 75px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .content {
    margin-left: 30px;
  }
  
  .nazov {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
  }

  .icon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 15px;
  }

  #contactInfo {
    margin-top: 5px;
  }

  .map {
    width: 600px;
    height: 450px; 
    border: 1px solid black;
    opacity: 2;
  }
  