body{
  background-image: url(obr/pozadie.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
  text-decoration: none;
  margin-left: 30px;
  color: white;
}

header img {
  width: 180px;
  height: 50px;
  margin-top: 11px;
  float: right;
}

nav li {
  display: block;
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(44, 43, 43);
  float: left;
  padding: 1rem;
  position: relative;
  
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
 background-color: rgb(44, 43, 43);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

nav li:hover > a {
  color: black;
}

ul li ul {
  background-color:rgb(44, 43, 43);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  box-shadow: 4px 5px 10px rgb(48, 47, 47);
}

.menu {
  font-size: 20px; 
}

.title {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 5px;
  text-decoration: none;
}

.navigacia { 
    grid-area: 1 / 1 / 2 / 9;
    background-color: black;
    z-index: 99;
  
}

.pata{ 
    grid-area: 5 / 1 / 6 / 9; 
    background-color: black;
    color: white;
    bottom: 0;
}
 
.telo { 
    grid-area: 2 / 2 / 5 / 6; 
    background-color: rgb(36, 35, 35);;    
}

footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

footer img{
    width: 30px;
    height: 30px;
}

/*Kontakt
-------------*/

.content {
  margin-left: 30px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.content a {
  color: white;
  text-decoration: none;
}

.nazov {
  text-align: left;
  font-size: 30px;
}

#contactInfo {
  margin-top: 5px;
  color: white;
}

#contactInfo a{
  color: white;
}


.map {
  width: 600px;
  height: 450px; 
  border: 1px solid black;
  opacity: 2;
}

/*galeria
------------------*/

#foto{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 0px;
    padding: 5px;
}

#foto img{
  width: 100%;
}

#fot {
  transition: transform .2s;
}

#fot:hover {
  transform: scale(0.9);
}

/*O nas
-------------------*/

.profil {
  float: right;
  border-radius: 50%;
  width: 330px;
  height: 300px;
  margin-top: 20px;
}

#omne1 {
  width: 100%;
  margin-bottom: 0; 
}

#cont1 {
  padding: 20px;
}

#cont1 h1 {
  color: white;
  margin-left: 80px;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  margin-bottom:50px;
}

#cont1 p {
  color: white;
  font-size: 17px;
  font-family: 'Libre Baskerville', serif;
}

/*------------------------------------------
domov */

.dom1 h2 {
  color: gold;
  font-size: 80px;
  margin-left: 30px;
  font-family: 'Contrail One', cursive;
  margin-top: 100px;
  margin-bottom: 20px;
}

.dom1 p{
  margin-left: 50px;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.dom1 button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(173, 169, 169);
  margin-left: 250px;
  margin-top: 25px;
  border-style: none;
  color: black;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}
.dom1 {
  background-image: url('obr/domov1.jpg');
  background-size: 100% 430px;
  padding-top: 1px;
}

.dom1 button:hover {
  background-color: white;
  cursor: pointer;
}

.dom2 h2,.dom3 h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
 
}

#domLink1 {
  float: left;
  width: 150px;
  height: 150px;
  margin-left:100px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: transform .2s;
}

#domLink1:hover,#domLink2:hover,#domLink3:hover {
  transform: scale(1.2);
}

#domLink2 {
  width: 150px;
  height: 150px;
  margin-left: 177px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: transform .2s;
}

#domLink3 {
  float: right;
  width: 150px;
  height: 150px;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: transform .2s;
}

.dom2{
  padding-bottom: 10px;
}

.dom3 img{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
}

.dom3 {
  background-color: rgb(51, 50, 50);
  padding-top: 20px;
}
/*------------------------------------------*/




/*---Kalendar-----------------------------*/


table{
  margin-left: 2.5%;
  width: 95%;
  padding: 5px;
  font-family: 'Cabin', sans-serif;
  }

td{
  padding: 10px;
}

table, th, td{
  border: 2px solid rgb(161, 156, 156);
  border-collapse: collapse;
}

#horne th{
  background-color: rgb(153, 149, 149);
  padding-top: 10px;
  padding-bottom: 10px;
}

#lavo {
  background-color: rgb(104, 102, 102);
}


#fixed {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0;
  margin: 0;
  height: 65px;
}

#fixed h1 {
  margin-bottom: 5px;
}

#vylepsovak {
  height: 100%;
  display: inline-block;
  padding: 9%;
}


  
#banner {
  width: 100vw;
}
 
#pohodicka {
  margin: auto;
  text-align: center;
  background-color: #222;
  background-image: none;
  padding: 0;
}

#pohodicka h1 {
  margin: 0;
}

#bannerWrapper {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#bannerText{
  background-color: rgba(40, 40, 40, 0.85);
  margin: 10px;
  padding: 10px;
  color: rgba(255, 163, 26, 1);
}

#bannerText h1{
  font-size: 10vh;
}

#tKlub {
  width: 960px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 0;
  padding: 40px;
}
#tKlub h1{
  color: rgba(255, 163, 26, 1);
}

#tKlub p{
  font-size: 2vh;
  color:white;
}

.predskokani {
  display:flex;
  margin: auto;
  width: 960px;
  justify-content: center;
}

.osobnost {
  width: 300px;
  margin: auto;
  
}

.osobnost img {
  border-radius: 50%;
}

#tKlub p{
  font-size: 30px;
  margin: 30px;
}

#tKlub h1{
  margin: 10px;
}
#onas h1{
  background-color: rgb(66, 66, 66);
  padding: 3px 0 3px 25px;
  margin: 0 0 10px 0 ;
  color: white;
  
  }
  
  #onas p{
  margin: 0 25px 0 40px;
  padding-bottom: 40px;
  color: rgb(172, 170, 170);
  }

  #onas {
    font-family: 'Cabin', sans-serif;
  }

